<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div style='max-height: calc(100vh - 3em); overflow: hidden;'>
      <img src='/guitar_background.jpg' style='width: 100vw;'></img>
    </div>
    <div class='trunk'>
      <ul style='list-style-type: none'>
        <% songs.forEach(song => { %>
          <li><a href="/c/<%- encodeURI(song) %>" style='color: #f9bc49; text-decoration: none;'><%- song %></a></li>
        <% }) %>
      </ul>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
