<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div style="padding: 0 0.5em; line-height: 1.25rem;">
      <h1><%- title %></h1>
      <pre><%- song %></pre>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
